<h1><%= @article.title %></h1>

<p><%= @article.body %></p>



<ul>
  <li><%= link_to "cambiale", edit_article_path(@article) %></li>
  <li><%= link_to "mandalo a chi....", article_path(@article),
                  method: :delete,
                  data: { confirm: "neta?" } %></li>
</ul>

<h2>lo que la raza dice</h2>
<%= render @article.comments %>

<h2>Escribe tu critica vato:</h2>
<%= render 'comments/form' %>